body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
    font-family: sans-serif;
}

.main {
    display: flex;
    flex-flow: column nowrap;
}

.main > * {
    margin: 12px;
    padding: 5px;
}